@charset "ISO-8859-1";
 body{
  background-color:#d6d7d8;
 }
 .topnav{
 background-color:#87909e;
 overflow:hidden;
 }
  .topnav img{
 float:left;
 }
 .topnav a{
 float:right;
 color: #f2f2f2;
 text-align:center;
 padding:14px 16px;
 text-decoration:none;
 font-size:17px;
 }
 .topnav a:hover{
 bakground-color:#ddd;
 color:black;
 }
  .topnav a:active{
 bakground-color:#4caf50;
 color:white;
 }
header{
    text-align: center;
    font-family:'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:whitesmoke;
}

.form
{
    text-align: right;
}
.description
{

    text-align:left;
    color: bisque;
}
article{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 200%;
}

.size{
    height: 40%;
    width: 30%;
}
.water
{
    text-align:right;
    color: bisque;
}

img{
    width: 30%;
   
    
}
h2{
    display:table-cell;
    color:white;
}

.water_des
{
    text-align:left;
    color:wheat;
}

.department
{
    text-align:center;
   width:40px;
}
input{
	margin: 40px 30px 10px 40px;
    width:700px;
    height:40px;
    font-family: Verdana, Geneva, Tahoma, sans-;
    font-size:17px;
}
#ss{
	 width:300px;
    height:40px;
    margin: 40px 50px 30px 40px;
    background-color:#4bc7f4;
}
select{
	margin: 40px 30px 10px 40px;
    width:700px;
    height:40px;
    font-family: Verdana, Geneva, Tahoma, sans-;
    font-size:17px;
    
}
input:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#logout{
	text-align:center;
	
}